* {
  box-sizing: border-box;
}
.login-container {
  text-align: center;
  margin-left: 25%;
  margin-top: 5%;
  padding: 2% 3%;
  width: 40%;
  background-color: rgb(226, 240, 238);
  border-radius: 0.5rem;
  color: rgb(108, 126, 123);
}
.log-head {
  color: rgb(108, 126, 123);
}
.login-input {
  align-items: center;
  flex-grow: 0;
  width: 70%;
  margin-left: 10%;
  font-size: 17px;
}
.login-btn {
  border: none;
  border-radius: 0.3rem;
  padding: 8px 20px;
  margin-top: 5%;
  background-color: rgb(90, 151, 151);
  color: white;
  font-size: 18px;
}
