* {
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .rate-table {
    width: 100%;
  }
  body {
    width: auto;
    margin: 0 auto;
  }
  .login {
    display: none;
  }
  .rate-board {
    width: auto;
    margin: 5% 5%;
  }
  .form-check {
    font-size: 14px;
  }
  .container {
    margin: 5% 0;
    padding: 20px;
    display: grid;
    row-gap: 20px;
    grid-template-columns: 80px 1fr 1fr 1fr;

    justify-items: center;
    align-items: center;
  }
  .form-select {
    grid-column: 2 / 5;
    grid-row: 1;
    justify-self: stretch;
  }
  .el-0 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .el-1 {
    grid-column: 2;
    grid-row: 2/3;
  }
  .el-2 {
    grid-column: 3;
    grid-row: 2/3;
  }
  .el-3 {
    grid-column: 4;
    grid-row: 2/3;
  }
  .calender {
    grid-column: 2 / span 3;
    grid-row: 3/5;
    align-self: start;
  }
  .search-btn {
    grid-column: 2/4;
    grid-row: 4/6;
    align-self: end;
  }
  .search {
    margin-left: 5%;
    width: 90%;
  }
  .rate-change {
    margin-top: 30px;
    padding-top: 15px;
    padding-left: 5px;
    grid-template-columns: 20% 40% 30%;
    grid-template-rows: 60px auto 62px 60px;
  }
  .referRate-from {
    grid-column: 2 / span 2;
    grid-row: 3;
    align-self: end;
  }
  .referRate-to {
    grid-column: 2 / span 2;
    grid-row: 6/8;
    margin-top: 5px;
  }
  .arrow {
    align-self: end;
  }
}
@media screen and (min-width: 780px) {
  .rate-table {
    width: 600px;
    margin: 1% 10%;
  }
  .login-1 {
    display: none;
  }
  .rate-check,
  .rate-change {
    padding: 50px 50px;
    width: 80%;
    margin: 3% 10%;
  }
  .fa-clock {
    margin-left: 10%;
  }
  .el-0 {
    display: inline-block;
  }
  .calender {
    margin-left: 13%;
  }
  .search-btn {
    margin-left: 40%;
    margin-top: 4%;
  }
  .rate-board {
    width: 80%;
    margin: 5% 10%;
  }
  .search {
    margin-left: 20%;
    width: 60%;
  }
  .rate-change {
    padding-top: 35px;
    grid-template-columns: 100px auto 150px auto;
    grid-template-rows: 60px auto 60px 60px;
  }
  .referRate-from {
    grid-column: 4;
    grid-row: 3;
    margin-top: 8px;
    align-self: start;
  }
  .referRate-to {
    grid-column: 4;
    grid-row: 6;
    margin-top: 8px;
    align-self: start;
  }
}
.contain {
  margin: 0 0;
  width: 100%;
  height: 100px;
  background-color: rgb(87, 151, 151);
}
.login {
  position: absolute;
  top: 5%;
  left: 68%;
  width: 30%;
}
.loglink {
  font-size: 18px;
  color: rgb(75, 151, 184);
  background-color: rgb(255, 253, 253);
  border: 1px solid none;
  border-radius: 0.2em;
  padding: 5px 5px;
  text-decoration: none;
}
.login-1 {
  text-align: right;
  margin: -4% 5%;
}
.logo {
  position: relative;
  top: 25%;
  left: 35%;
  text-transform: uppercase;
  color: aliceblue;
  font-weight: bold;
  font-size: 40px;
  text-decoration: none;
}
.dat,
.fa-clock {
  margin-top: 3%;
  display: inline-block;
  color: gray;
  font-size: 14px;
}
td {
  border: 2px solid rgb(235, 232, 232);
  padding: 10px;
}
tbody tr:hover {
  background: rgb(223, 222, 222);
}
thead {
  height: 70px;
  background-color: rgb(126, 188, 247);
  color: white;
  text-align: center;
}
.rate-check {
  background-color: rgb(206, 237, 250);
  height: 300px;
}
.form-select,
.form-check {
  display: inline-block;
}
.check {
  width: 40%;
  margin-left: 6%;
}
.form-check {
  margin-left: 2%;
}
.date {
  border: 1px solid rgb(185, 185, 179);
  border-radius: 0.25rem;
  padding: 2px 6px;
}
.flag {
  height: 30px;
  width: 50px;
  max-width: auto;
}

.hidden {
  display: none;
}
.pageColor {
  color: cadetblue;
}
.rate-change {
  background-color: rgb(206, 237, 250);
  height: 400px;
  display: grid;
  justify-items: start;
  align-items: center;
  column-gap: 10px;
}
.calc-head {
  background-color: rgb(250, 122, 75);
  height: 60px;
  width: 60px;
  border-radius: 5rem;
  border: 1px solid none;
  grid-column: 1;
  grid-row: 1;
  justify-self: end;
}
.fa-calculator {
  color: aliceblue;
  padding: 15px 16px;
  font-size: 30px;
}
.ca {
  font-weight: bold;
  color: rgb(245, 88, 49);
  margin-top: 10px;
  grid-column: 2/3;
  grid-row: 1;
  row-gap: 0;
}
.going-from {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
}
.going-to {
  grid-column: 2;
  grid-row: 5;
  align-self: center;
}
.change-from {
  grid-column: 2;
  grid-row: 3;
  align-self: start;
}
.change-to {
  grid-column: 2;
  grid-row: 6;
  align-self: start;
}
.inputChange-from {
  grid-column: 3;
  grid-row: 3;
}
.inputChange-to {
  grid-column: 3;
  grid-row: 6;
}
.inputChange-from,
.inputChange-to {
  color: orangered;
  font-weight: bold;
  align-self: start;
}
.arrow {
  width: 40px;
  font-size: 35px;
  cursor: pointer;
  color: rgb(130, 151, 219);
  grid-column: 2;
  grid-row: 4;
}

.referRate-from,
.referRate-to {
  color: rgb(4, 99, 223);
  font-weight: bolder;
}
